.header {
  background: linear-gradient(-45deg, #ff6922, #e73c7e, #23d5ab, #00aaff);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 600;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
